.Navbar{
  color: #1B2845;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 16px;

}
.nav{
  color: #1B2845;
  align-items: center;
  text-decoration: none;
  padding: 20px
}
 .nav:hover{
  transition: all, 0.1s ease-in-out;
  font-weight: 600;
  transform: scale(1.1);

}
.nav:visited{
 transition: all, 0.1s ease-in-out;
 font-weight: 600;
 transform: scale(1.1);
 color: whitesmoke;
 background-color: #274060ff;
}
.Head{
  color: #1B2845;
  text-align: center;
  font-size: 50px;
}
body{
background-image: url("Images/bf8.jpg");
background-repeat: no-repeat;
background-size: cover;
font-family: 'Poppins', sans-serif;
}
form {
  padding: 30px;
  border-radius: 10px;
  max-width: 500px;
  margin: 0 auto;
  box-shadow: 0 2px 10px #274060ff;
  font-family: 'Poppins', sans-serif;
}
.Bookin{
  text-align: center;
  font-family: 'Poppins', sans-serif;
}
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
select,
textarea {
  width: 92%;
  padding: 12px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
}
textarea {
  resize: vertical;
}
button {
  background-color: #1b2845ff;
  color: white;
  padding: 12px 25px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: 'Poppins', sans-serif;
}
button:hover {
  background-color:#335c81ff;
}
.CC{
  text-align: center;
  font-size: 20px;
  padding: 10px;
  font-family: 'Poppins', sans-serif;
}
.Bookin{
  text-align: center;
  font-size: 30px;
  font-family: 'Poppins', sans-serif;
}